body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(rgba(252, 102, 15, 0.8), rgba(252, 210, 23, 0.8)), url("https://raw.githubusercontent.com/jeiderhombre/fotos/main/cyt.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.col12 {
    background-color: linear-gradient(rgba(252, 102, 15, 0.9), rgba(252, 210, 23, 0.9)) silver;
}

#col13 {
    background-color: rgba(227, 252, 6, 0.329);
}

.col11 {
    background-color: rgba(252, 6, 6, 0.322);
}

.col10 {
    background-color: rgba(252, 6, 6, 0.322);
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.abc {
    justify-content: center;
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.form-control {
    padding-left: 30px!important;
}